@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif
}

/* overrides*/
.carousel.carousel-slider .control-arrow:hover {
  background: none;
}
.Toastify__toast-container {
  bottom: 0;
}